@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */
.form-group {
  display: flex;
  flex-flow: column wrap;
}

.required {
  color: red;
}

.invalid-feedback {
  color: red;
  font-size: 0.7rem;
}
