<nb-layout>
  <nb-layout-header fixed>
    <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <h1>Nebular Formly integration</h1>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
          <div style="margin-bottom: 20px">
            <formly-form
              [form]="form"
              [fields]="fields"
              [model]="model"
            ></formly-form>
          </div>
          <button
            [disabled]="!form.valid"
            nbButton
            status="success"
            type="submit"
            class="btn btn-default"
          >
            Submit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
